<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <title>[唯实讲堂] [http://www.ForTen.org]</title>
    <link rel="stylesheet" href="css/uikit.css"/>
    <link rel="stylesheet" href="css/components/datepicker.css"/>
    <link rel="stylesheet" href="css/components/form-select.css"/>
    <link rel="stylesheet" href="css/uikit.almost-flat.css"/>
    <link rel="stylesheet" href="css/uikit.gradient.css"/>
    <link rel="stylesheet" href="css/components/notify.css"/>
    <style>
        .uk-form > div {
            margin-bottom: 10px;
        }

        .banner {
            height: 110px;
            background-image: url('imgs/bg01.jpg');
            background-size: cover;
        }
    </style>
</head>
<body class="uk-height-1-1">
<div id="main">
    <div class="uk-container uk-container-center">
        <div class="banner">
        </div>
        <nav class="uk-navbar">
            <div class="uk-form uk-navbar-brand">
                <input class="uk-form-width-small" v-model="qo.name" placeholder="姓名"/>
                <button class="uk-button" @click="list()">查询</button>
                <button class="uk-button" data-uk-offcanvas="{target:'#saveform'}">添加</button>
                <button class="uk-button" data-uk-offcanvas="{target:'#updateform'}" @click="selectStudent()"
                        :disabled="optId==0">更新
                </button>
                <button class="uk-button" @click="delById()" :disabled="optId==0">删除</button>
                <!--<button class="uk-button" @click="showGenderCount()" data-uk-modal="{target:'#gender-count-modal'}">
                    性别比例
                </button>
                <button class="uk-button" @click="showAgeCount()" data-uk-modal="{target:'#age-count-modal'}">
                    年龄分布
                </button>-->

                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <button class="uk-button">统计图表 <i class="uk-icon-caret-down"></i></button>
                    <div class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a class="uk-dropdown-close" href="#gender-count-modal" data-uk-modal @click="showGenderCount()">性别比例</a></li>
                            <li><a class="uk-dropdown-close" href="#age-count-modal" data-uk-modal @click="showAgeCount()">年龄分布</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="uk-block uk-block-muted">
            <div class="uk-container">

                <div class="uk-panel">
                    <table class="uk-table uk-table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>生日</th>
                            <th>籍贯</th>
                            <th>身份证号</th>
                            <th>民族</th>
                            <th>状态</th>
                            <th>注册时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="stu in studentList">
                            <td><input v-model="optId" :value="stu.id" type="radio"/></td>
                            <td>{{stu.name}}</td>
                            <td>{{stu.gender}}</td>
                            <td>{{stu.birthdayStr}}</td>
                            <td>{{stu.hometown}}</td>
                            <td>{{stu.idCardNum}}</td>
                            <td>{{stu.nation}}</td>
                            <td>{{stu.statusStr}}</td>
                            <td>{{stu.registTimeStr}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="uk-text-right">
                        <span>第{{page.pageNo}}页/共{{page.totalPage}}页</span>
                        <span>第{{page.firstResultNum+1}}~{{page.lastResultNum}}条/共{{page.totalQuantity}}条数据</span>
                        <button @click="setPageNo(1)"><i class="uk-icon-angle-double-left"></i></button>
                        <button @click="setPageNo(qo.pageNo-1)"><i class="uk-icon-angle-left"></i></button>
                        <input v-model="qo.pageNo" class="uk-form-width-mini uk-text-center"/>
                        <button @click="setPageNo(qo.pageNo+1)"><i class="uk-icon-angle-right"></i></button>
                        <button @click="setPageNo(page.totalPage)"><i class="uk-icon-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-block uk-block-primary uk-contrast uk-text-center">
            <div class="uk-grid">
                <figure class="uk-width-1-2">
                    <img src="imgs/forten.png" alt="http://www.ForTen.org"/>
                    <figcaption>http://www.ForTen.org</figcaption>
                </figure>
                <figure class="uk-width-1-2">
                    <img src="imgs/wx.png" alt="唯实讲堂微信订阅号"/>
                    <figcaption>微信订阅号</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <form id="saveform" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
            <div class="uk-panel-box uk-panel-box-primary uk-height-1-1">
                <div class="uk-panel-title">
                    <i class="uk-icon-plus"></i>
                    添加学生信息
                </div>
                <div class="uk-form">
                    <div><input v-model="student4Save.name" class="uk-width-1-1" placeholder="姓名"/></div>
                    <div>
                        <label><input v-model="student4Save.gender" value="M" type="radio"/> <i
                                class="uk-icon-male"></i></label>
                        <label><input v-model="student4Save.gender" value="F" type="radio"/> <i
                                class="uk-icon-female"></i></label>
                    </div>
                    <div><input id="birthday" value="1998-01-01" class="uk-width-1-1" placeholder="生日"
                                data-uk-datepicker="{weekstart:0,format:'YYYY-MM-DD',i18n:{ months:['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'], weekdays:['周日','周一','周二','周三','周四','周五','周六'] },minDate:'1940-01-01',maxDate:'2010-12-31'}"/>
                    </div>
                    <div><input v-model="student4Save.hometown" class="uk-width-1-1" placeholder="籍贯"/></div>
                    <div><input v-model="student4Save.idCardNum" class="uk-width-1-1" placeholder="身份证号"/></div>
                    <div><input v-model="student4Save.nation" class="uk-width-1-1" placeholder="民族"/></div>
                    <div>
                        <button type="button" @click="save">保存</button>
                        <button type="button" @click="closeForm">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="updateform" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-width-medium-1-3 uk-width-small-1-1">
            <div class="uk-panel-box uk-panel-box-primary uk-height-1-1">
                <div class="uk-panel-title">
                    <i class="uk-icon-edit"></i>
                    更新学生信息
                </div>
                <div class="uk-form">
                    <div><input v-model="student4Update.name" class="uk-width-1-1" placeholder="姓名"/></div>
                    <div>
                        <label><input v-model="student4Update.gender" type="radio" value="M"/> 男</label>
                        <label><input v-model="student4Update.gender" type="radio" value="F"/> 女</label>
                    </div>
                    <div><input v-model="student4Update.birthdayStr" class="uk-width-1-1" placeholder="生日" type="date"/>
                    </div>
                    <div><input v-model="student4Update.hometown" class="uk-width-1-1" placeholder="籍贯"/></div>
                    <div><input v-model="student4Update.idCardNum" class="uk-width-1-1" placeholder="身份证号"/></div>
                    <div><input v-model="student4Update.nation" class="uk-width-1-1" placeholder="民族"/></div>
                    <div>
                        <select v-model="student4Update.status">
                            <option value="0">上课</option>
                            <option value="1">毕业</option>
                            <option value="2">休学</option>
                            <option value="3">退学</option>
                        </select>
                    </div>
                    <div>
                        <input v-model="student4Update.id" type="hidden"/>
                        <button type="button" @click="update">更新</button>
                        <button type="button" @click="closeForm">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="gender-count-modal" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-lightbox">
            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
            <div id="gender-count-div" style="width: 600px;height:400px;">

            </div>
        </div>
    </div>
    <div id="age-count-modal" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-lightbox">
            <a href="" class="uk-modal-close uk-close uk-close-alt"></a>
            <div id="age-count-div" style="width: 600px;height:400px;">

            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/uikit.js"></script>
<script src="js/components/datepicker.js"></script>
<script src="js/components/form-select.js"></script>
<script src="js/components/parallax.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/components/notify.js"></script>
<script src="js/echarts.js"></script>
<script>
    var vm = new Vue({
        el: '#main',
        data: {
            optId: 0,
            qo: {
                name: '',
                pageNo: 1,
                pageSize: 10
            },
            student4Save: {
                gender: 'M'
            },
            student4Update: {},
            studentList: [],
            page: {
                pageNo: 1,
                pageSize: 10
            },
            genderCount: {
                title: {
                    text: '学生性别比例',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['男', '女']
                },
                series: {
                    name: '人数',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            },
            ageCount: {
                color: ['#3398DB'],
                title: {
                    text: '学生出生年份分布',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: [],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
                ,
                yAxis: {
                    type: 'value'
                }
                ,
                series: {
                    name: '出生年份',
                    type: 'bar',
                    barWidth: '60%',
                    data: []
                }

            }
        },
        created: function () {
            this.list();
        },
        methods: {
            list: function () {
                axios({
                    url: '/student/query',
                    method: 'POST',
                    data: this.qo
                }).then((res) => {
                    if (res.data.isEmptyResult) {
                        UIkit.notify(res.data.message);
                    }
                    this.studentList = res.data.dataList;
                    this.page = res.data.page;
                });
            },
            save: function () {
                this.student4Save.birthday = $('#birthday').val();
                axios({
                    url: '/student',
                    method: 'POST',
                    data: this.student4Save
                }).then((res) => {
                    UIkit.notify({
                        pos: 'top-right',
                        status: 'success',
                        message: "<i class='uk-icon-check'></i>" + res.data.message
                    });
                    this.list();
                });
                vm.closeForm();
                $('#saveform')[0].reset();
                this.student4Save = {
                    gender: 'M'
                };
            },
            selectStudent: function () {
                axios({
                    url: "/student/" + this.optId,
                    method: 'GET'
                }).then((res) => {
                    this.student4Update = res.data;
                });
            },
            delById: function () {
                UIkit.modal.confirm("确认要删除已选数据吗？", function () {
                    axios({
                        url: '/student/' + vm.optId,
                        method: 'DELETE'
                    }).then((res) => {
                        vm.list();
                        vm.optId = 0;
                        UIkit.notify({
                            pos: 'top-right',
                            status: 'success',
                            message: "<i class='uk-icon-check'></i>" + res.data.message
                        });
                    });
                }, {
                    labels: {
                        Cancel: '取消',
                        Ok: '确定'
                    },
                    center: true
                });
            },
            update: function () {
                axios({
                    url: '/student',
                    method: 'PUT',
                    data: this.student4Update
                }).then((res) => {
                    UIkit.notify({
                        pos: 'top-right',
                        status: 'success',
                        message: "<i class='uk-icon-check'></i>" + res.data.message
                    });
                    this.list();
                });
                this.student4Update = {};
                vm.closeForm();
            },
            closeForm: function () {
                $.UIkit.offcanvas.hide();
            },
            setPageNo: function (n) {
                if (n > this.page.totalPage) {
                    n = this.page.totalPage;
                }
                if (n < 1) {
                    n = 1;
                }
                this.qo.pageNo = n;
                this.list();
            },
            showGenderCount: function () {
                axios({
                    url: '/count/gender',
                    method: 'GET'
                }).then((res) => {
                    var myChart = echarts.init(document.getElementById('gender-count-div'));
                    var arr = [];
                    for (var i = 0; i < res.data.length; i++) {
                        arr[i] = {"value": res.data[i].counts, "name": res.data[i].gender};
                    }
                    this.genderCount.series.data = arr;
                    myChart.setOption(this.genderCount);
                }).catch(function (error) {
                    if (error.response) {
                        //请求已经发出，但是服务器响应返回的状态吗不在2xx的范围内
                        console.log(error.response.data);
                        console.log(error.response.status);
                        console.log(error.response.header);
                    } else {
                        //一些错误是在设置请求的时候触发
                        console.log('Error', error.message);
                    }
                    console.log(error.config);
                });
            },
            showAgeCount: function () {
                axios({
                    url: '/count/age',
                    method: 'GET'
                }).then((res) => {
                    var myChart = echarts.init(document.getElementById('age-count-div'));
                    var years = [];
                    var counts = [];
                    for (var i = 0; i < res.data.length; i++) {
                        years[i] = res.data[i].year + '年';
                        counts[i] = res.data[i].counts;
                    }
                    this.ageCount.series.data = counts;
                    this.ageCount.xAxis.data = years;
                    myChart.setOption(this.ageCount);
                }).catch(function (error) {
                    if (error.response) {
                        //请求已经发出，但是服务器响应返回的状态吗不在2xx的范围内
                        console.log(error.response.data);
                        console.log(error.response.status);
                        console.log(error.response.header);
                    } else {
                        //一些错误是在设置请求的时候触发
                        console.log('Error', error.message);
                    }
                    console.log(error.config);
                });
            }
        }
    });
</script>
</body>
</html>